USE [master]
GO
/****** Object:  Database [QuanLyHinhAnh]    Script Date: 12/28/2017 1:45:40 PM ******/
CREATE DATABASE [QuanLyHinhAnh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyHinhAnh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyHinhAnh.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyHinhAnh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyHinhAnh_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyHinhAnh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyHinhAnh]
GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 12/28/2017 1:45:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[DuongDan] [nvarchar](100) NOT NULL,
	[TenHinh] [nvarchar](100) NULL,
	[Album] [nvarchar](100) NULL,
	[TheLoai] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DuongDan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
